<style>
  @font-face {
  font-family: 'YiSunShinRegular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/YiSunShinRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  } /* 얘는 왜 분리가 안 될까*/
  @font-face {
  font-family: '국립박물관문화재단클래식B';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/국립박물관문화재단클래식B.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  }
  .yss{
  font-family: 'YiSunShinRegular'
  }
  .bmg{
    font-family: '국립박물관문화재단클래식B'
  }
  a{
    color:white;
    text-decoration: none;
  }
  h1{
    font-size:45px;
    text-align: center;
    border:5px solid yellow;
    /*display:inline;*/ /*이건 글자 테두리 박스 크기 딱 맞게 만드는거*/
    padding:5px;
  }/*헤드라인 글자 및 글자 테두리 박스, 중앙 정렬*/
  h2{
    font-size:40px;
    text-align: center;
  }
  qwer{
      text-align: center;
      padding-top: 30px
  }
  .nothing{
    color: gray;
  }
  .sidebar > ul > li{
    margin-top: 20px;
  }



    input[id="menuicon"]{
      display: none;
    }
    input[id="menuicon"] + label{
      display: block;
      width: 60px;
      height: 50px;
      position: fixed;
      right: 0;
      top: calc(50% - 25px);
      transition: all .35s;
      cursor: pointer;
    }
    input[id="menuicon"] + label span{
      display: block;
      position: absolute;
      width: 100%;
      height: 5px;
      border-redius: 30px;
      background: #999;
      transition: all.35s;
    }
    input[id="menuicon"]:checked + label{
      z-index: 2;
      right:300px;
    }
    input[id="menuicon"] + label span:nth-child(1){
      top:0;
    }
    input[id="menuicon"] + label span:nth-child(2){
      top:50%;
      transform: translateY(-50%);
    }
    input[id="menuicon"] + label span:nth-child(3){
      bottom: 0;
    }
    input[id="menuicon"]:checked + label span:nth-child(1){
      top:50%;
      transform: translateY(-50%) rotate(45deg);

    }
    input[id="menuicon"]:checked + label span:nth-child(2){
      opacity:0;

    }
    input[id="menuicon"]:checked + label span:nth-child(3){
      bottom: 50%;
      transform: translateY(50%) rotate(-45deg);

    }
    div[class="sidebar"]{
      width: 300px;
      height: 100%;
      background: #222;
      position: fixed;
      top:0;
      right:-300px;
      z-index: 1;
      transition: all .35s;
    }
    input[id="menuicon"]:checked + label + div{
      right:0;
    }

      input[type="radio"] {display: none;}
      input[type="radio"]+label{
      display: inline-block;
      padding: 20px;
      background: #ccc;
      color: #999;
      font-size: 14px;
      cursor: pointer;}
      input[type="radio"]:checked+label{
      background: #aaa;
      color:#000;}

      .conbox{
        width: 100%;
        height: 100%;
        background: #000;
        margin: 0 auto; /*가운데정렬*/
        display: none;
        position: relative;

      }
      input[id="table01"]:checked ~ .con1 {display:block;}
      input[id="table02"]:checked ~ .con2 {display:block;}
      input[id="table03"]:checked ~ .con3 {display:block;}
      .tab_content{
        padding-left: 50px;
      }
      .evolve {position:relative;display:inline-block;}
      .evolve img {max-width:100%;}
      .evolve span.text {
      	position:absolute;
      	top:51.4%; left:0;
      	transform:translateY(-50%);
      	display:none; width:100%; font-size:50px; color:#fff; font-weight:900;
      	text-align:center;
      }
      .evolve::before, .evolve::after{
      	content:'';
      	position:absolute;
      	top:50%; left:50%;
      	transform:translate(-50%,-50%);
      	transition:all .8s;
      	-webkit-transition:all .8s;
      }
      .evolve::before {
      	width:97%;height:95%;border-top:2px solid #4aa8d8;border-bottom:2px solid #4aa8d8;width:0;
      	z-index:1;
      }
      .evolve::after {
      	width:97%;height:95%;border-left:2px solid #4aa8d8;border-right:2px solid #4aa8d8;height:0;
      }

      .evolve:hover span.text {display:block;}
      .evolve:hover::before {width:calc(97% + 4px);}
      .evolve:hover::after {height:calc(95% + 4px);}



      * {margin:0;padding:0;}
    	.section input[id*="slide"] {display:none;}
    	.section .slidewrap {max-width:80%;margin:0 auto;}
    	.section .slidelist {white-space:nowrap;font-size:0;overflow:hidden;position:relative;}
    	.section .slidelist > li {display:inline-block;vertical-align:middle;width:100%;transition:all .5s;}
    	.section .slidelist > li > a {display:block;position:relative;}
    	.section .slidelist > li > a img {width:100%;}
    	.section .slidelist label {
        position:absolute;
        z-index:1;
        top:50%;
        transform:translateY(-50%);
        padding:50px;cursor:pointer;
      }

      .slideitem {display:inline-block;vertical-align:top;width:33.3%;}
      .slideitem {display:block;width:auto;text-decoration: none;margin:5px;}
      .slideitem {position:relative;overflow:hidden;}
      .slideitem .top {position:absolute;bottom:150%;left:20px;padding-left: 100px;z-index:3;color:#fff;font-size:60px;font-weight:900;transition:all .35s;}
      .slideitem .bottom {position:absolute;top:150%;left:20px;padding-left: 100px;z-index:3;color:#fff;font-size:36px;transition:all .35s;}
      .slideitem img {width:100%;}
      .slideitem:hover::after {content:'';display:block;position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,.6);z-index:2;opacity:0;transition:all .35s;}
      .slideitem:hover .top {bottom:52%;}
      .slideitem:hover .bottom {top:52%;}
      .slideitem:hover::after {opacity:1;}


    	/* input에 체크되면 슬라이드 효과 */
    	.section input[id="slide01"]:checked ~ .slidewrap .slidelist > li {transform:translateX(0%);}
    	.section input[id="slide02"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-100%);}
    	.section input[id="slide03"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-200%);}
      .section input[id="slide04"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-302%);}


    	/* input에 체크되면 텍스트 효과 */
    	.section input[id="slide01"]:checked ~ .slidewrap li:nth-child(1) .textbox h3 {opacity:1;transform:translateY(0);transition-delay:.2s;}
    	.section input[id="slide02"]:checked ~ .slidewrap li:nth-child(2) .textbox h3 {opacity:1;transform:translateY(0);transition-delay:.2s;}
    	.section input[id="slide03"]:checked ~ .slidewrap li:nth-child(3) .textbox h3 {opacity:1;transform:translateY(0);transition-delay:.2s;}
      .section input[id="slide04"]:checked ~ .slidewrap li:nth-child(4) .textbox h3 {opacity:1;transform:translateY(0);transition-delay:.2s;}



    	/* 좌,우 슬라이드 버튼 */
    	.slide-control > div {display:none;}
    	.section .left {left:10px;background:url('left-arrow.png') center center / 40% no-repeat;}
    	.section .right {right:10px;background:url('right-arrow.png') center center / 40% no-repeat;}
    	.section input[id="slide01"]:checked ~ .slidewrap .slide-control > div:nth-child(1) {display:block;}
    	.section input[id="slide02"]:checked ~ .slidewrap .slide-control > div:nth-child(2) {display:block;}
    	.section input[id="slide03"]:checked ~ .slidewrap .slide-control > div:nth-child(3) {display:block;}
      .section input[id="slide04"]:checked ~ .slidewrap .slide-control > div:nth-child(4) {display:block;}


    	/* 페이징 */
    	.slide-pagelist {text-align:center;padding:20px;}
    	.slide-pagelist > li {display:inline-block;vertical-align:middle;}
    	.slide-pagelist > li > label {display:block;padding:8px 30px;border-radius:30px;background:#fff;margin:20px 10px;cursor:pointer;}
    	.section input[id="slide01"]:checked ~ .slidewrap .slide-pagelist > li:nth-child(1) > label {background:#222;}
    	.section input[id="slide02"]:checked ~ .slidewrap .slide-pagelist > li:nth-child(2) > label {background:#222;}
    	.section input[id="slide03"]:checked ~ .slidewrap .slide-pagelist > li:nth-child(3) > label {background:#222;}
      .section input[id="slide04"]:checked ~ .slidewrap .slide-pagelist > li:nth-child(4) > label {background:#222;}




</style>
